.card-container {
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-header {
    padding: 10px;
}

.card-image {
    width: 100%;
}

.card-title {
    font-weight: bold;
}